.simple {
    width: 500px;
    margin: 20px auto;
    border-color: red;
    border-style: solid;
}

.fancy {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border-width: 10px;
    border-color:  red;
    border-style: solid;
}